*.css linguist-vendored
*.min.css linguist-vendored
*.html linguist-vendored
*.txt linguist-vendored
*.pdf linguist-vendored
*.map linguist-generated

*.py linguist-detectable=true
*.js linguist-detectable=true